<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
  {{if .Error}}
  <div class="error">{{ .Error }}</div>
  {{end}}
  <form method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    <input type="hidden" name="login_challenge" value="{{ .LoginChallenge }}">
    <button type="submit">Login</button>
  </form>
</body>

</html>